*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/wholphin-mpv/src/main/libs/
/wholphin-mpv/src/main/jnilibs/
/wholphin-mpv/src/main/obj/
